@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
* {
  font-family: inherit;
  font-weight: inherit;
  font-size: 10px;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.32);
  * {
    box-sizing: border-box;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
  }
  p, span, h3 {
    margin: 0;
    padding: 0;
  }
  button {
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
}
